@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    @if (Model != null)
    {
        <p>
            @Model.Exception.GetType().Name<br />
            于 @Model.ControllerName 中 @Model.ActionName 处抛出异常

        </p>
        <p>
            异常详情：

        </p>
        <p>
            @Model.Exception.Message
        </p>
    }

    服务器内部异常
</body>
</html>