@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=uft-8" />
    <title>所有店铺搭配</title>
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="text-center">
            <a href="/Home/Index" class="btn btn-primary bt-sm">返回首页</a>
        </div>
        <div class="panel-group" id="accordion1" data-bind="foreach:allTjs">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" data-bind="attr:{href:'#'+User_Id}" onclick="showcols(this);">
                            <span data-bind="text:User_Nm"></span>
                            (<span data-bind="text:User_Id"></span>)
                        </a>
                    </h4>
                </div>
                <div data-bind="attr:{id:User_Id}" class="panel-collapse collapse">
                    <div class="panel-body">
                    </div>
                </div>
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/alltj")
</body>
</html>

