@{

    ViewBag.Title = "首页";
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>欢迎来到作业指导管理系统!</h1>
            </hgroup>
        </div>
    </section>

    <section class="content-wrapper main-content clear-fix">
        <h3>您可以进行以下操作:</h3>
        <ol class="round">
            <li class="one">
                <h5><a href="/DaPei/Arrange">搭配组合</a></h5>
                搭配组合：将拍照完成的搭配图通过该系统的进行录入数据库当中，以便指导后续的操作.
                <a href="/DaPei/Arrange">进行搭配...</a>
            </li>

            <li class="two">
                <h5><a href="/DaPei/UploadImg">图片上传</a></h5>
                图片上传：就是将搭配组合图以及单款图上传到服务器中
                <a href="/DaPei/UploadImg">图片上传...</a>
            </li>
            <li class="three">
                <h5><a href="/DaPei/SuggestPairs">推荐搭配</a></h5>
                推荐搭配：给店铺推荐搭配组合.
                <a href="/DaPei/SuggestPairs">推荐搭配...</a>
            </li>
            <li class="four">
                <h5><a href="/DaPei/LookPairs">查看搭配</a></h5>
                查看搭配：就是查看推荐过的搭配组合.
                <a href="/DaPei/LookPairs">查看搭配...</a>
            </li>
            <li class="five">
                <h5><a href="/Report/index">查看报表</a></h5>
                查看报表：就是查看库存信息报表.
                <a href="/Report/index">查看报表...</a>
            </li>
            @*<li class="six">
                    <h5><a href="/DaPei/Up4Image">查找图片</a></h5>
                    查找图片：就是查看UP4软件当中的图片库.
                    <a href="/DaPei/Up4Image">查找图片...</a>
                </li>*@
            @*<li class="six">
                    <h5><a href="/DaPei/Users">用户管理</a></h5>
                    用户管理：编辑，添加系统用户（只有管理员才有该权限）.
                    <a href="/DaPei/Users">查找图片...</a>
                </li>*@
            <li class="six">
                <h5><a href="/promotion/index">促销信息管理</a></h5>
                促销信息管理：编辑管理促销种类.
                <a href="/promotion/index">促销信息...</a>
            </li>
            <li class="seven">
                <h5><a href="/peihuo/index">配货系统</a></h5>
                配货系统：根据制造单据对各个店铺进行配货.
                <a href="/peihuo/index">配货系统...</a>
            </li>
            <li class="eight">
                <h5><a href="/UserInfo/index">用户管理</a></h5>
                用户管理：对系统用户进行管理.
                <a href="/UserInfo/index">用户管理...</a>
            </li>
        </ol>
    </section>
</div>
