<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h3>欢迎来到作业指导管理系统!</h3>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div class="row">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </section>
</div>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript">


</script>